@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$pf: 'Encode sans', Arial, Helvetica, sans-serif;
$fs: 1rem;

*{
    font-family: $pf;
    font-size: $fs;
}