@import "colors";

div.user-list{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;

        div {
        background-color: $color-2;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        h2.h2-product-list {
            font-size: 1.5rem;
        }

        li {
            list-style-type: none;
        }
    }
}